<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div style="text-align: center;">
     <img src="./assets/pharma.png" alt="Mountain View" style="width:150px;height:150px;">
  </div>

  <ion-list>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block round (click)="submit()">Login</button>

  <span class="author">Author: David Pérez Conde</span>
</ion-content>
