<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding [hidden]="cartItems.length>0" class="align-center">
  <span style="font-size: 40px;">Empty cart</span><br>
  <ion-icon name="cart" class="text-90"></ion-icon>
</ion-content>


<ion-content padding [hidden]="cartItems.length<1">

  <ion-card >
    <ion-card-content class="text-bold">
      Total: {{totalPrice}}€
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let cartItem of cartItems">
      <ion-thumbnail item-left>
        <img src={{cartItem.product.product_image}}>
      </ion-thumbnail>
      <h2 class="text-bold">{{cartItem.product.product_name}}</h2>
      <h4>Quantity: {{cartItem.quantity}}</h4>
      <h4>Unit price: {{cartItem.product.product_price}}€</h4>
      <h4 class="text-bold">SubTotal: {{cartItem.product.product_price * cartItem.quantity}}€</h4>

      <button ion-button clear icon-only (click)="addQuantity(cartItem)">
        <ion-icon name="add"></ion-icon>
      </button>

      <button ion-button clear icon-only (click)="removeQuantity(cartItem)">
        <ion-icon name="remove"></ion-icon>
      </button>

      <button ion-button  round item-right (click)="deleteItem(cartItem)" style="margin-left:20px">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>
  </ion-list>

</ion-content>
