<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{product.product_name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToOrder()">
        <ion-icon name="cart">
          <ion-badge [hidden]="cartTotalQuantity<1" id="notifications-badge" color="danger" class="custom-ion-badge">{{cartTotalQuantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>





<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <button ion-button clear icon-only (click)="addQuantity()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <div class="quantity-label">
              {{quantity}}
            </div>
          </ion-col>
          <ion-col col-2>
            <button ion-button clear icon-only (click)="removeQuantity()">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button round  (click)="addToCart(product.id, product)"> Add</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="{{product.product_image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{product.product_name}}
      </ion-card-title>

      <span class="text-bold">Dosage: </span><span>{{product.product_dosage}}</span><br>
      <span class="text-bold">Price: </span><span>{{product.product_price}}€</span><br>
      <span class="text-bold">Distributor: </span><span>{{product.product_distributor}}</span><br>
      <span class="text-bold">Address: </span><span>{{product.distributor_address}}</span><br>
      <span class="text-bold">Email: </span><span>{{product.distributor_email}}</span><br>
      <span class="text-bold">Phone: </span><span>{{product.distributor_phone}}</span><br>
      <span class="text-bold">Diagnosis: </span><span>{{product.product_diagnosis}}</span><br>

    </ion-card-content>
  </ion-card>


</ion-content>
