
<ion-header>
  <ion-navbar>
    <ion-title>MainMenu</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToOrder()">
        <ion-icon name="cart">
          <ion-badge [hidden]="cartTotalQuantity<1" id="notifications-badge" color="danger" class="custom-ion-badge">{{cartTotalQuantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="mainContent">
      <div id="mainButtons">

        <button ion-button icon-left block round (click)="goToProducts()" class="main-menu-button">
          <ion-icon name="cube"></ion-icon>
          Products
        </button>

        <button ion-button icon-left block round (click)="goToTimeOuts()" class="main-menu-button">
          <ion-icon name="alarm"></ion-icon>
          Timeouts
        </button>

        <button ion-button icon-left block round (click)="goToContact()" class="main-menu-button">
          <ion-icon name="mail"></ion-icon>
          Contact
        </button>

      </div>

      <div id="logOut">
        <button ion-button icon-left color="danger" block round (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
          Logout
        </button>
      </div>

  </div>

</ion-content>
