<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToOrder()">
        <ion-icon name="cart">
          <ion-badge [hidden]="cartTotalQuantity<1" id="notifications-badge" color="danger" class="custom-ion-badge">{{cartTotalQuantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail item-left>
        <img src={{product.product_image}}>
      </ion-thumbnail>
      <h2>{{product.product_name}} | {{product.product_dosage}}</h2>
      <h3>{{product.product_price}}</h3>
      <button ion-button clear item-right (click)="goToDetail(product)">View</button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
